<div class="Staff">
  <div class="StaffHeader">
    <h1 class="StaffTitle">Staff</h1>
    <button class="Button" (click)="isNewItem = true">Add</button>
  </div>
  <table *ngIf="items.length" class="StaffTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Transactions</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.name }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.transactions || 0 }}</td>
        <td>${{ item.amount || 0 }}</td>
        <td><div class="StaffDelete" (click)="deleteItem(item.id)">&#10005;</div></td>
      </tr>
    </tbody>
  </table>
  <app-modal *ngIf="isNewItem" headTitle="New user" (onClose)="handleCloseForm()">
    <form class="Form" (submit)="handleSubmitForm($event)">
      <div class="FormRow">
        <app-input
          class="FormInput"
          type="text"
          name="name"
          placeholder="Name"
          (onInput)="handleInputChange($event)"
        ></app-input>
      </div>
      <div class="FormRow">
        <app-input
          class="FormInput"
          type="text"
          name="phone"
          placeholder="Phone"
          (onInput)="handleInputChange($event)"
        ></app-input>
      </div>
      <div class="FormRow">
        <app-input
          class="FormInput"
          type="text"
          name="login"
          placeholder="Login"
          (onInput)="handleInputChange($event)"
        ></app-input>
      </div>
      <div class="FormRow">
        <app-input
          class="FormInput"
          type="password"
          name="password"
          placeholder="Password"
          (onInput)="handleInputChange($event)"
        ></app-input>
      </div>
      <div class="FormFooter">
        <button class="Button" type="submit">Submit</button>
      </div>
    </form>
  </app-modal>
</div>
