<div style="display: none"><app-svg></app-svg></div>
<ng-template *ngIf="isLoading; else app"></ng-template>
<ng-template #app>
  <div class="App" *ngIf="user; else login">
    <app-sidebar class="AppSidebar"></app-sidebar>
    <div class="AppMain">
      <app-header></app-header>
      <div class="AppContent">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-order class="AppOrder"></app-order>
  </div>
</ng-template>
<ng-template #login>
  <app-login></app-login>
</ng-template>
<app-notifications></app-notifications>
