<form class="Form Login" (submit)="handleSubmitForm($event)">
  <div class="FormRow">
    <app-input
      class="FormInput"
      type="text"
      name="login"
      placeholder="Login"
      (onInput)="handleInputChange($event)"
    ></app-input>
  </div>
  <div class="FormRow">
    <app-input
      class="FormInput"
      type="password"
      name="password"
      placeholder="Password"
      (onInput)="handleInputChange($event)"
    ></app-input>
  </div>
  <div class="FormFooter">
    <button class="Button" type="submit">Submit</button>
  </div>
  <div class="FormFooter">
    <span class="LoginLink" (click)="adminLogin()">Login as Admin</span>
  </div>
</form>
